setuptools
# profiling for testing
line_profiler
# the frontend for code parsing
tree-sitter==0.25.2
# for data storage and manipulation
pandas
pyarrow
# graph visualization
networkx
# for math
numpy
# for plotting
matplotlib
# for configuration
PyYAML
# for web app UI
streamlit
